.mainRight {
  display: inline-block;
  height: 100%;
  transition: all 2s;
  width: calc(50% - 300px);
  vertical-align: top;
  z-index: 6;
}

.mainRightAfter {
  width: 59.5%;
}

/*====================
=====Search Result====
====================*/
.searchResultGroup {
  transition: all 2s;
  margin-top: 30px;
  margin-bottom: 110px;
  text-align: justify;
  border-radius: 15px;
  padding-bottom: 30px;
  width: 0;
}

.searchResultGroupAfter {
  background-color: #9e9e9e;
  border: #03456e solid 10px;
  width: 800px;

  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

/*=====searchResultCatalogue*/
.searchResultCatalogue {
  font-size: 18px;
  display: flex;
  line-height: 30px;
  margin-top: 10px;
  margin-right: 2%;
  margin-left: 2%;
  width: 96%;
  padding-bottom: 5px;
  border-bottom: black solid 3.5px;
}

.resultOrder {
  display: flex;
  flex: 4;
  justify-content: space-between;
}

.resultOrderTitle {
  font-size: 18px;
  font-weight: bold;
}

.resultOrderOption {
  cursor: pointer;
  display: flex;
  margin-left: 10px;
}

.currentResultOrderOption {
  cursor: default;
  text-decoration: underline;
}

#orderDate {
  cursor: pointer;
}

.orderingArrow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2px;
}

.arrowUp {
  border-bottom: 8px solid #767676;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  flex: 1;
  height: 40%;
  margin-bottom: 15%;
  width: 0;

  border-bottom: 8px solid #d4d3d3;
}
.currentArrowUp {
  border-bottom: 8px solid #000000;
}

.arrowDown {
  border-top: 8px solid #767676;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  flex: 1;
  height: 40%;
  margin-top: 15%;
  width: 0;

  border-top: 8px solid #d4d3d3;
}
.currentArrowDown {
  border-top: 8px solid #000000;
}

.resultPaging {
  display: flex;
  flex: 6;
}

.resultPagingOption {
  flex: 1;
}

.pagingArrows {
  cursor: pointer;
  text-align: center;
}

.pagingElements {
  display: flex;
  flex: 5;
  justify-content: center;
}

.pagingElement {
  text-align: center;
  cursor: pointer;
  flex: 1;
  max-width: 33.64px;
}

.currentPagingElement {
  cursor: default;
  font-weight: bold;
  text-decoration: underline;
}

.pagingAmount {
  display: flex;
  flex: 1;
  padding-right: 30px;
}

.pagingAmountTitle {
  flex: 3;
}

.pagingAmountSelect {
  border-radius: 3px;
  flex: 1;
}

.resultDisplay {
  display: flex;
  flex: 1;
}

.resultDisplayComponent {
  cursor: pointer;
  flex: 1;
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
.resultDisplayComponent:hover {
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.25);
}
.currentDetailShowing {
  outline: 1px dashed white;

  outline: 1px dashed #000000;
}

.noSearchResult {
  color: white;
  font-size: 45px;
  font-weight: bold;
  line-height: 150px;
  text-align: center;
  width: 780px;

  color: #000000;
}

/*=====searchResultComponent*/
@keyframes searchResultComponent {
  from {
    width: 0;
  }
  to {
    width: 680px;
  }
}

.searchResultComponent {
  background-color: white;
  display: flex;
  border: solid #5f89a3 5px;
  border-radius: 10px;
  height: 150px;
  left: 44.5%;
  margin: 30px 50px 0px;
  position: relative;
  transform: translateX(-51%);
  animation-name: searchResultComponent;
  animation-duration: 2s;
  overflow: hidden;
  padding: 10px;

  background-color: #ffffff;
  border: 1px solid #dadce0;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.2);
}
.searchResultComponent:hover {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-in-out;
}

.searchResultLeft {
  flex: 0.8;
}
.searchResultImg {
  height: 75px;
  margin-top: 22.5px;
  width: 75px;
}

.searchResultRight {
  display: flex;
  flex: 6.75;
  flex-direction: column;
  margin-left: 10px;
}
.searchResultHeadline {
  color: black;
  flex: 1.4;
  font-weight: bold;
  overflow-y: auto;
  text-decoration: underline;
  font-size: 20px;
  margin-bottom: 3px;
}
.searchResultSubheadline {
  color: black;
  flex: 1.1;
  /* font-style: italic; */
  overflow-y: auto;
  margin-bottom: 3px;
}
.searchResultThirdLine {
  display: flex;
  flex: 1.1;
  margin-bottom: 3px;
}
.searchResultAuthor {
  color: black;
  flex: 4.9;
  margin-right: 5px;
  overflow-y: auto;
}
.searchResultDate {
  flex: 1;
  color: black;
  text-align: right;
  overflow-y: hidden;
}
.searchResultParagraph {
  color: black;
  flex: 2.5;
  overflow-y: auto;
  border-top: #5f89a3 4px double;
  padding-top: 2px;

  border-top: #767676 4px double;
}

/*=====Line Component=====*/
.searchResultLineComponent {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: solid #5f89a3 5px;
  border-radius: 10px;
  left: 44.5%;
  margin: 30px 50px 0px;
  position: relative;
  transform: translateX(-50%);
  animation-name: searchResultComponent;
  animation-duration: 2s;
  overflow: hidden;
  padding: 7.5px 15px;

  background-color: #ffffff;
  border: 1px solid #dadce0;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.searchResultLineElement {
  display: flex;
  flex: 1;
  margin: 3px 0px;
  align-items: center;
}
.searchResultLineElement:hover .searchResultLinetHeadline {
  font-weight: bold;
  text-decoration: underline;
  transition: all 0.2s ease-in-out;
}
.searchResultLineElement:hover .searchResultLinetThirdColumn {
  font-weight: bold;
  text-decoration: underline;
  transition: all 0.2s ease-in-out;
}
.searchResultLineSymble {
  flex: 0.3;
  line-height: 20px;
  text-align: middle;
}
.searchResultLinetHeadline {
  flex: 7.2;
  line-height: 20px;
  margin-right: 20px;
}

.searchResultLinetThirdColumn {
  display: flex;
  flex: 2;
  flex-direction: column;
  text-align: right;
}

.searchResultLineSource {
  flex: 1;
}

.searchResultLineDate {
  flex: 1;
}

@media (min-width: 1681px) {
  .mainRightAfter {
    width: 54%;
  }
}

@media (min-width: 1441px) and (max-width: 1680px) {
  .mainRightAfter {
    width: 56%;
  }
}

@media (min-width: 1281px) and (max-width: 1440px) {
  .mainRightAfter {
    width: 50%;
  }
}
